CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false
app.CSPEnabled = false
app.jwtSecret = 'ChangeThisJwtSecretBeforeProduction'
app.jwtRefreshSecret = 'ChangeThisRefreshSecretBeforeProduction'
app.jwtIssuer = 'http://localhost:8080/'
app.jwtAudience = 'http://localhost:8080/'
app.jwtAccessTtl = 3600
app.jwtRefreshTtl = 1209600

database.default.hostname = localhost
database.default.database = reportappdb
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

session.driver = 'CodeIgniter\\Session\\Handlers\\FileHandler'
session.savePath = WRITEPATH . 'session'
